html {
    background-color: #d9d4ce;
}
#root {
    background-color: #d9d4ce;
}
.app {
    text-align: center;
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d9d4ce;
}
@media screen and (max-width: 1240px) {
    .app{
        width: auto;
    }
}